<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fo.pigdm.colors2048">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.2048Colors"
        tools:targetApi="31">
        <activity
            android:theme="@style/Theme.2048Colors.ActionBar"
            android:name=".view.SettingsActivity"
            android:parentActivityName=".view.MainActivity" />
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/Theme.2048Colors.ActionBar"
            android:name=".view.LevelsActivity"
            android:parentActivityName=".view.MainActivity" />
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.GameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".view.MainActivity" />/>
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>